.board{
    background-color: #eee;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 5rem auto;
    box-shadow: 1px 1px 15px #ccc;
    user-select: none;
    cursor: pointer;
}
.board__tiles{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.board__tiles:active{
    background-color: rgb(243, 28, 28);
}